*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
  
  h1 {
    font-family: Merriweather, serif;
    font-size: 46px;
  }
  



body{
    scroll-behavior:smooth
}
.page2 p , .page4 p , .page3 p{
    text-indent: 30px;
}


.cnt{
    padding:20px 0;
    background-color:#4a53cf;
    width:100vw;
    height: 100vh;
    position: relative;

   
}
.cnt .menu{
    float:right;
    
}
.cnt .menu ul li{
    list-style: none;
    display: inline-block;
    margin:0 20px;

}

.cnt .menu ul li a{
    text-decoration: none;
    color:white;
    padding:5px 7px;
    border-radius:  5px;
    transition: background-color 0.4s;

}
.cnt .menu ul li a:hover{
    background-color: cyan;
    color:black;
}
.cnt.text{
    clear: both;
    width:100%;
    

}
.cnt .text{

    color:white;

     padding-left:5rem;
    transform: translateY(70%);

}

.cnt .text p{
    text-indent: 0;
margin:20px 0;
font-weight: bold;
font-size: 2vw;
}
.cnt .text h1{
    font-weight: 600;
    font-size: 6vw;
}
.cnt img{
    position: absolute;
    top:20%;
    background-color: red;
    right:20%;
    z-index: 2;
    border-radius: 10px;
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes move{
    0%{
        top:10%;
    }
    25%{
        top:15%
    }
    50%{
        top:20%;
    }
    75%{
        top:27%
    }
    100%{
    top:26%;
    }
}

.page2{
    width: 100%;
    magrin:20px 0;
}
.page2 p{
    margin:20px auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.fullimg{
    width: 100%;
}
.page3 h2{
    margin:20px 0;
text-align:left;

}
.page3 div{
    margin:20px 0;
}
.page3 p{
    font-weight: bold;
    line-height: 1.5rem;
}
.page4{
    margin:50px 0;}
.page4 h2{
padding:10px 0;
margin: 30px auto;
text-align: center;
}
.page4 p{
    margin:20px 0;  
}
.page4 .row4{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.skls h2{
    margin:10px 0px;
    
    font-weight: 800;
}
.skls div a{
    box-sizing: border-box;
text-decoration: none;
display:inline-block;
margin: 10px 20px;
padding:5px 5px;
border:1px solid black;
border-radius: 5px;
transition: background-color 04s;
}
.skls div a:hover{
    background-color:red;
    color:white;
}
div .rowTool{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:20px 0;
}

div .rowTool img{
    width:40px;
    height:40px
}
div .rowTool p{
    margin:15px auto;
    text-align: center;
}
.tools{
    margin:30vh 0px;
}
.footr{
    background-color: darkblue;
    color:white;
    padding: 10vh;
    height: 35vh;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
}
.footr p{
    position: relative;
    margin:20px 0;
    font-weight: bold;
}
.footr div{
    margin:10px auto;
    text-align: center;
}
.footr div p{
    width:100%;
    position: relative;
}
.footr div p span{
    position: absolute;
    text-align:right;
    right: 0;
    bottom:0;
}
.connect{
    margin:0;
    padding:0;
    box-sizing: border-box;
    position:relative;
}
.footr .frow{
    position: absolute;
    height: 25vh;
    top: -41vh;
    border-radius: 7px;
    left: 50%;
    margin: 0 auto;
    background:linear-gradient(#a762cc,#303ce6) ;
    z-index:3;
    width:60%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transform: translatex(-50%);
    
}
.footr .frow div img{
    width:80%;
    border-radius: 43%;
    border: 1px solid white;
}
.footr p a{
    color:white;
}

@media only screen and (max-width: 768px){


    .cnt img{
        display: block;
        width:180px;
        height: 180px;

    }
    .cnt .menu ul li{
        list-style: none;
        display: block;
        margin:20px auto;
    
    }
    .cnt .menu ul li a{
        font-size: 14px;
    }
    .cnt .menu{
        float:none;
        
    }
        footr .frow div img{
        width:100%;
        border-radius: 43%;
        border: 1px solid red;
    }
    .page2 p{
        font-size: 20px;
        font-weight: bold;
    }
    .page3 p{
        font-weight: normal;
        line-height:normal;
        font-size: 12px;
    }
    .page3 h2{
        margin:20px auto;
        font-size: 20px;
    text-align:center;
    
    }
    .page4 .row4{
        display:block;
    }
    .page4 .row4 div p{
        text-align: center;
        font-size: 12px;
    }
    .page4 .row4 div img{
        width:80%;
        margin: 20px auto;
    }
    
    .skls div a{
    text-decoration: none;
    display:block;
    margin: 10px 20px;
    padding:5px 5px;
    border:1px solid black;
    border-radius: 5px;
    transition: background-color 02s;
    }
    div .rowTool{
        display: block;
        margin:40px auto;
        width:8%
    }
    div .rowTool img{
        margin: 0px auto;
    }
    .tools h2{
        text-align: center;
    }
    
    .footr .frow{
        position: absolute;
        height: 20vh;
        top: -40vh;
        border-radius: 7px;
        left: 50%;
        margin: 0 auto;
        background:linear-gradient(#a762cc,#303ce6) ;
        z-index:3;
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        transform: translatex(-50%);
        
    }
    .footr .frow h1{
        font-size: 16px;
        font-weight: bold;
    }
    .footr .frow p{
        font-size: 12px;
    }
    .footr .frow div img{
        width: 30px;
    }
    .footr p{
        position: relative;
        text-align: center;
        margin:20px 0;
        font-size: 12px;
        font-weight:normal;
    }
    
    .cnt .text p{
        margin:20px 0;
        font-weight: bold;
        font-size: 3vw;
        }
        .cnt .text h1{
            font-weight: 600;
            font-size: 6vw;
        }
        
        .skls div a{
            font-size: 12px;
            border: none;
            }
    
            body{
                padding:0 5px;
            }
    
            .cnt{
                background-color:#4a53cf;
                width:100%;
                height: 100vh;
                position: relative;
            
               
            }
            
    }
    @media only screen and (max-width: 600px){


        .cnt img{
            display: none;
            width:100px;
        }
        .cnt .menu ul li{
            list-style: none;
            display: block;
            margin:20px auto;
        
        }
        .cnt .menu ul li a{
            font-size: 14px;
        }
        .cnt .menu{
            float:none;
            
        }
            footr .frow div img{
            width:100%;
            border-radius: 43%;
            border: 1px solid red;
        }
        .page2 p{
            font-size: 20px;
            font-weight: bold;
        }
        .page3 p{
            font-weight: normal;
            line-height:normal;
            font-size: 12px;
        }
        .page3 h2{
            margin:20px auto;
            font-size: 20px;
        text-align:center;
        
        }
        .page4 .row4{
            display:block;
        }
        .page4 .row4 div p{
            font-size: 12px;
        }
        
        .skls div a{
        text-decoration: none;
        display:block;
        margin: 10px 20px;
        padding:5px 5px;
        border:1px solid black;
        border-radius: 5px;
        transition: background-color 02s;
        }
        div .rowTool{
            display: block;
            margin:40px auto;
            width:8%
        }
        div .rowTool img{
            margin: 0px auto;
        }
        .tools h2{
            text-align: center;
        }
        
        .footr .frow{
            position: absolute;
            height: 20vh;
            top: -45vh;
            border-radius: 7px;
            left: 50%;
            margin: 0 auto;
            background:linear-gradient(#a762cc,#303ce6) ;
            z-index:3;
            width:137%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            transform: translatex(-50%);
            
        }
        .footr .frow h1{
            font-size: 16px;
            font-weight: bold;
        }
        .footr .frow p{
            font-size: 12px;
        }
        .footr .frow div img{
            width: 30px;
        }
        .footr p{
            position: relative;
            text-align: center;
            margin:20px 0;
            font-size: 12px;
            font-weight:normal;
        }
        
        .cnt .text p{
            margin:20px 0;
            font-weight: bold;
            font-size: 4vw;
            }
            .cnt .text h1{
                font-weight: 600;
                font-size: 10vw;
            }
            
            .skls div a{
                font-size: 12px;
                border: none;
                }
        
                body{
                    padding:0 5px;
                }
        
                .cnt{
                    background-color:#4a53cf;
                    width:100%;
                    height: 100vh;
                    position: relative;
                
                   
                }
                
        }
        